/home/glitch/Documents/pythonRelated/IT-Toolkit/networking-toolkit/__pycache__
/home/glitch/Documents/pythonRelated/IT-Toolkit/networking-toolkit/networking-toolkit.html
/home/glitch/Documents/pythonRelated/IT-Toolkit/networking-toolkit/scrap.md
/home/glitch/Documents/pythonRelated/udemyRESTfulAPI-Course/networking_toolboox_app